@inherits LayoutComponentBase
@inject TasksHistoryDraft _tasksHistoryDraft

    <div class="page h-100">

        <div class="main">
            <PropertyHasChangedListener ViewModel="_tasksHistoryDraft">
                <NavMenu OnTasksHistoryManagerChangeVisibility="ChangeVisibilityOfTasksHistoryManagerDialog" />
                <CascadingValue Value="_tasksHistoryDraft" Name="_tasksHistoryDraft">
                    <div class="content px-4 position-relative h-100">
                        @Body
                        @if (!_tasksHistoryDraft.IsHidden)
                        {
                            <TasksHistoryManager OnHide="ChangeVisibilityOfTasksHistoryManagerDialog" />
                        }
                    </div>
                </CascadingValue>
            </PropertyHasChangedListener>
        </div>
    </div>

@code {    

    public void ChangeVisibilityOfTasksHistoryManagerDialog() => _tasksHistoryDraft.ChangeVisibility();
}