@inherits LayoutComponentBase

<div class="page h-100">

    <div class="main">
        <NavMenu OnTasksHistoryManagerChangeVisibility="ChangeVisibilityOfTasksHistoryManagerDialog" />
        <div class="content px-4 position-relative h-100">
            @Body
            @if (showingTasksHistoryManager)
            {
                <TasksHistoryManager OnHide="ChangeVisibilityOfTasksHistoryManagerDialog" />
            }
        </div>
    </div>
</div>

@code {
    public bool showingTasksHistoryManager;

    public void ChangeVisibilityOfTasksHistoryManagerDialog()
    {
        showingTasksHistoryManager = !showingTasksHistoryManager;
    }
}