@inject TasksHistoryDraft TasksHistoryDraft
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IAuthenticationService AuthenticationService

<nav class="navbar navbar-expand-lg navbar-light navbar-bg-light border border-secondary">
    <a class="navbar-brand" href="">Hyperdimension BlazeSharp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="tutorial">
                    Tutorial
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="adventure">
                    Adventure
                </NavLink>
            </li>
            <li class="nav-item">
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-link" href="profile">
                            Profile
                        </NavLink>
                    </Authorized>
                </AuthorizeView>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="ranking">
                    Ranking
                </NavLink>
            </li>
            <li class="nav-item">
                <div class="nav-link cursor-pointer" @onclick="OnTasksHistoryManagerChangeVisibility">
                    <span class="oi oi-command"></span>
                    <span class="badge badge-primary badge-pill">@TasksHistoryDraft.Count()</span>
                </div>
            </li>
            <li>
                <AuthorizeView>
                    <Authorized>
                        <div>
                            <span class="mr-2 text-dark">@context.User.FindFirst("Name").Value</span>
                            <button class="btn btn-outline-orange" @onclick="Logout">Logout</button>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div>
                            <button class="btn btn-outline-orange" @onclick="Login">Login</button>
                            <button class="btn btn-outline-light" @onclick="Register">Register</button>
                        </div>
                    </NotAuthorized>                    
                </AuthorizeView>
            </li>
        </ul>
    </div>
</nav>

@code {

    [Parameter] public EventCallback OnTasksHistoryManagerChangeVisibility { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await AuthenticationService.Logout();
        NavigationManager.NavigateTo("/");
    }

    private void Login()
    {
        NavigationManager.NavigateTo("login");
    }

    private void Register()
    {
        NavigationManager.NavigateTo("register");
    }
}
