@inherits MainLayout
@inject TasksHistoryDraft _tasksHistoryDraft


<div class="page h-100">

    <div class="main h-100">
        <PropertyHasChangedListener ViewModel="_tasksHistoryDraft">
            <NavMenu OnTasksHistoryManagerChangeVisibility="ChangeVisibilityOfTasksHistoryManagerDialog" />
        </PropertyHasChangedListener>
        <CascadingValue Value="_tasksHistoryDraft" Name="_tasksHistoryDraft">
            <div class="position-relative h-100">
                @Body
                @if (!_tasksHistoryDraft.IsHidden)
                {
                    <TasksHistoryManager OnHide="ChangeVisibilityOfTasksHistoryManagerDialog" />
                }
            </div>
        </CascadingValue>
    </div>
</div>
