@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <NavMenu OnTasksHistoryManagerChangeVisibility="ChangeVisibilityOfTasksHistoryManagerDialog"/>
        <div class="position-relative">
            @Body
            @if (showingTasksHistoryManager)
            {
                <TasksHistoryManager OnHide="ChangeVisibilityOfTasksHistoryManagerDialog"/>
            }
        </div>
    </div>
</div>

@code {
    public bool showingTasksHistoryManager;

    public void ChangeVisibilityOfTasksHistoryManagerDialog()
    {
        showingTasksHistoryManager = !showingTasksHistoryManager;        
    }
}