@inherits MainLayout

<div class="page h-100">

    <div class="main">
        <NavMenu OnTasksHistoryManagerChangeVisibility="ChangeVisibilityOfTasksHistoryManagerDialog"/>
        <div class="position-relative h-100">
            @Body
            @if (showingTasksHistoryManager)
            {
                <TasksHistoryManager OnHide="ChangeVisibilityOfTasksHistoryManagerDialog"/>
            }
        </div>
    </div>
</div>