.outputConsole {
    min-height: 50px;
}

.submitButton {
    position: fixed;
    right: 0.5rem;
    bottom: 2rem;
}

.ease-animation {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}