<div class="col">
    <button type="button" class="btn btn-outline-orange float-right" disabled="@IsExecuting" @onclick="OnExecute"><span class="oi oi-caret-right"></span> Execute</button>
    <button type="button" class="btn btn-outline-orange float-right d-md-block d-none mr-1" @onclick="OnChangeEditorPosition">Change Position</button>

    <button type="button" class="btn btn-outline-orange float-right mr-1"
            title="Restore last executed version"
            hidden="@(!TasksHistoryDraft.CheckIfDraftExists(TaskId))"
            disabled="@IsExecuting"
            @onclick="OnRestorePreviousVersion">
        Restore
    </button>

    <span class="@(IsFullscreen ? "oi oi-fullscreen-exit" : "oi oi-fullscreen-enter") cursor-pointer fullscreenIcon" @onclick="OnFullscreenChange"></span>
</div>

@code {
    [CascadingParameter(Name = "_tasksHistoryDraft")]
    public TasksHistoryDraft TasksHistoryDraft { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnExecute { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnChangeEditorPosition { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnRestorePreviousVersion { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnFullscreenChange { get; set; }

    [Parameter]
    public Guid TaskId { get; set; }

    [Parameter]
    public bool IsExecuting { get; set; }

    [Parameter]
    public bool IsFullscreen { get; set; }
}
