@page "/forum"

<h3>Forum</h3>

<div class="container">
    <Comment AvatarUrl=""
             UserName="Test"
             CommentId="@Guid.NewGuid()"
             Date="2021.06.30"
             Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor mauris, hendrerit vestibulum tristique nec, ultrices nec elit. In non velit quis tellus pulvinar posuere. Curabitur ac laoreet dolor, a condimentum justo. Praesent molestie urna eget erat laoreet, in ultrices neque bibendum. Proin eget dui accumsan, condimentum mi a, consectetur elit. Aliquam erat volutpat. Nam non consectetur neque, vel tempor risus. In id dui orci. Phasellus non fringilla lectus, sed laoreet neque. Aliquam erat volutpat. Aliquam sed sollicitudin magna. Nulla eu euismod odio. Quisque porttitor tellus molestie turpis condimentum fringilla. "
    />
</div>

@code {

}
