@page "/"

<div>
    <div class="bg-darkergrey border border-secondary text-center h5 py-4">
        Defeat the Night Parade of One Hundred Demons using <span class="text-orange">C#</span>
    </div>
    <div class="row py-3 bg-lightergrey border border-secondary">
        <span class="text-orange col-sm-6 text-right text-sm-center display-1 font-weight-bold pr-1">
            C#
        </span>
        <div class="col-sm-4 text-left text-sm-center d-flex flex-column align-self-center">
            <span class="font-weight-normal p-2">Sharpen your C# coding skills</span>
            <span class="font-weight-light p-2">Solve tasks to get experience</span>
        </div>
    </div>
    <div class="bg-white row py-3">
        <div class="text-right col">
            <span class="font-weight-normal p-2">
                Broaden your cultural horizons
            </span>
            <span class="font-weight-light p-2">
                Each task is preceded by a story about<br>
                Japanese <span class="text-orange">folk</span> beliefs.
            </span>
        </div>
        <img class="img-fluid col w-75" src="http://japoland.pl/blog/wp-content/uploads/400px-Ikku_Mikosi-nyudo.jpg">
    </div>
</div>