@page "/"
@inject HttpClient HttpClient
@layout IndexLayout

<div>
    <div class="bg-banner" style="background-image: url('../img/sam.jpg')">
        <div class="bg-text-overlay">
            <span class="font-weight-lighter">
                "Victory is reserved for those<br />
                who are willing to pay its price."
            </span>
            <span class="text-orange font-weight-normal" id="suntzu">
                <br /><br />
                ~ Sun Tzu
            </span>
        </div>
    </div>

    <div class="bg-darkergrey border border-secondary text-center h5 py-4 m-0">
        Defeat the Night Parade of One Hundred Demons using <span class="text-orange">C#</span>
    </div>
    <div class="row py-3 m-0 bg-lightergrey border border-secondary">
        <div class="col-md-4"></div>
        <span class="text-orange col-md-2 col-sm-12 col-12 text-md-left text-sm-center text-center display-1 font-weight-bold pr-1">
            C#
        </span>
        <div class="col-md-6 col-sm-12 col-12 text-sm-center text-md-left text-center d-flex flex-column align-self-center">
            <span class="font-weight-normal p-2 h4">Sharpen your C# coding skills</span>
            <span class="font-weight-light p-2">Solve tasks to get experience</span>
        </div>
    </div>
    <div class="bg-white row py-4 m-0">
        <div class="col-md-2"></div>
        <div class="col-md-3 col-12 text-left py-5">
            <span class="font-weight-normal py-5 h4">
                Broaden your cultural horizons<br />
            </span>
            <span class="font-weight-light">
                Each task is preceded by a story about<br />
                Japanese <span class="text-orange">folk</span> beliefs.
            </span>
        </div>
        <div class="col-md-7 col-12 pl-sm-5 bg-panel bg-right" style="background-image: url('../img/nyudo.jpg' );">

        </div>
    </div>
</div>