@page "/login"
@using Hyperdimension_BlazeSharp.Client.ViewModels
@inject ILoginViewModel _loginViewModel
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService

<h3>Login</h3>

<h4 class="text-danger">@ErrorMessage</h4>

<EditForm Model="_loginViewModel" OnValidSubmit="LoginUser">
    <div class="col-6">
        <ValidationMessage For="() => _loginViewModel.Email" />
        <InputText type="text" @bind-Value="_loginViewModel.Email" class="form-control" placeholder="email address"/>
    </div>
    <br />
    <div class="col-6">
        <ValidationMessage For="() => _loginViewModel.Password" />
        <InputText type="password" @bind-Value="_loginViewModel.Password" class="form-control" placeholder="password"/>
    </div>
    <br />
    <div class="col-6">
        <button class="btn btn-outline-orange" type="submit" disabled="@isSubmitting">Login</button>
    </div>

    <DataAnnotationsValidator/>
</EditForm>

@code {
    public string ErrorMessage { get; set; }
    bool isSubmitting;

    public async Task LoginUser()
    {
        isSubmitting = true;
        var tmp = new UserAuthRequest() { Email = _loginViewModel.Email, Password = _loginViewModel.Password };
        var response = await AuthenticationService.Login(tmp);

        if (response is not null)
        {
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            //ErrorMessage = await response.Content.ReadAsStringAsync();
        }

        isSubmitting = false;
    }
}
