@page "/ranking"
@inject HttpClient HttpClient

<h3>Ranking</h3>

<ul class="list-group">
    @if (RankingList is null)
    {
        <text>Loading...</text>
    }
    else
    {
        @foreach (var (user,index) in RankingList.Select((value, i) => (value, i+1)))
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>@index</strong> @user.Item1
                <span class="badge badge-primary badge-pill">Points: @user.Item2</span>
            </li>
        }
    }
</ul>

@code {

    public List<Tuple<string, int>> RankingList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        RankingList = await HttpClient.GetFromJsonAsync<List<Tuple<string, int>>>("users/ranking");
    }

}
