@page "/ranking"
@inject NavigationManager NavigationManager
@using Hyperdimension_BlazeSharp.Client.ViewModels
@inject IRankingViewModel _rankingViewModel

<h3>Ranking</h3>

<div class="list-group">
    @if (_rankingViewModel.UserRankingRecords is null)
    {
        <text>Loading...</text>
    }
    else
    {
        @foreach (var (user,index) in _rankingViewModel.UserRankingRecords.Select((value, i) => (value, i+1)))
        {
            <a href="@($"profile/{user.Guid}")" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <strong>@index</strong> @user.Email
                <span class="badge badge-primary badge-pill">Points: @user.Points</span>
            </a>
        }
    }
</div>

@code {    

    protected override async Task OnInitializedAsync() => await _rankingViewModel.GetRankingList();
}
