@page "/tutorial"
@inject HttpClient HttpClient

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Parts
    </a>
    @if (tutorials.Count == 0)
    {
        <h4>Loading...</h4>
    }
    else
    {
        foreach (var tutorial in tutorials)
        {
            <a href="@("TaskContainer/"+tutorial.Key)" class="list-group-item list-group-item-action">@tutorial.Value</a>
        }
    }
</div>

@code {
    List<KeyValuePair<int, string>> tutorials = new() { new(1, "first"), new(2, "second"), new(3, "third") };


}
