@page "/tutorial"
@inject HttpClient HttpClient


@if (modulesWithTasks is null)
{
    <h4>Loading...</h4>
}
else
{
    @foreach (var module in modulesWithTasks)
    {
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                @module.Title
            </a>

            @foreach (var task in module.Tasks)
            {
                <a href="@("TaskContainer/" + task.Guid)" class="list-group-item list-group-item-action">@task.Title</a>
            }

        </div>
    }
}

@code {
    IEnumerable<ModuleWithTasks> modulesWithTasks;

    protected override async Task OnInitializedAsync()
    {
        modulesWithTasks = await HttpClient.GetFromJsonAsync<IEnumerable<ModuleWithTasks>>("modules/mode/0");
    }
}
